# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Environment variables
.env

# PyCharm project files
.idea/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs and local data
*.log

# Unit test / coverage results
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# VSCode (if used)
.vscode/

# macOS system files
.DS_Store
